<h1>Assignment 05</h1>

<ul>
<li><p>Due Wed April 2 at noon.</p></li>
<li><p>Programming language to be used: Haskell.</p></li>
<li><p>e1, e2, e3 and e4 to be syntactically compliant with your new data type for
sum and product expressions.</p></li>
</ul>

<h2>Requirements</h2>

<p>Using the data type MTree in file mtrees.hs:</p>

<ol>
<li><p>Write an arithmetic evaluator  of expression trees of sums and products. 
Note that each sum (marked with label "+") or product (marked with labels
"*") acts upon a subtree that can have 0 or more operands.
A sum with 0 operands should return 0 and a product with 0 operands should
return 1.</p></li>
<li><p>Test your code on examples e1, e2, e3 and e4 and paste the output as a
haskell comment in your source file.</p></li>
<li><p>The data type MTree accepts anything as labels for the operations.
Define a more precise data type such that only sums and products can be
entered as operators. Modify examples</p></li>
</ol>
